@use "../abstracts/colors" as colors;
@use "../abstracts/fonts" as fonts;
@use "../mixin/mixin" as mixin;

.new-note{
    @include mixin.flexbox-settings(flex,column,center);
    height: 90%;
    gap: 2rem;

    .title, .note-textarea{
        font-size: 1rem;
        padding: 1rem;
        &:focus{
            outline: none;      
            &::placeholder{
                color: transparent;
            }
        }
    }

    .title{
        height: 5rem;
        
    }
    .note-textarea{
        flex-grow: 1;
        max-height: 30rem;
    
          
    }

    .username-input{
        @include mixin.flexbox-settings(flex,column);
        gap: 0.5rem;

        p{
            color: colors.$color-white;
            letter-spacing: 0.35rem;
            font-size: 1rem;
        }

        input{
            height: 5rem;
            font-size: 1.25rem;
            padding: 0 1rem;
            background-color: transparent;
            color: colors.$color-white;
            border: 1px solid colors.$color-white;
            border-radius: 3px;

            &:focus{     
                outline: none;
            }
        }
    }


}