@use "../abstracts/colors" as colors;
@use "../abstracts/fonts" as fonts;
@use "../mixin/mixin" as mixin;

.new-note{
    @include mixin.flexbox-settings(flex,column,center);
    height: 90%;
    gap: 2rem;

    .title, .note-textarea{
        font-size: 1rem;
        padding: 1rem;
        &:focus{
            outline: none;
            &::placeholder{
                color: transparent;
            }
        }
    }

    .title{
        height: 4rem;
        
        
    }
    .note-textarea{
        flex-grow: 1;
        max-height: 30rem;

    }

    .change-user{
        align-self: center;
    }
    
    p{
        text-align: center;
        color: colors.$color-white;
        font-size: 1rem;
        span{
            text-decoration: underline;
        }
    }

}