@use "../abstracts/colors" as color;
@use "../abstracts/fonts" as fonts;


*{
    font-family: fonts.$font-family;
}


body{

    background-color: color.$color-primary;
    color: color.$color-black;
    font-weight: fonts.$font-weight-small;
    padding: 1rem;
    height: 100vh;
}

ul{
    list-style-type: none;
}