@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #19274A;
  color: #000000;
  font-weight: 400;
  padding: 1rem;
  height: 100vh;
}

.hide {
  display: none !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #EF4343;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  color: #000000;
  border: none;
  border-radius: 4px;
}

.remove {
  background-color: transparent;
  text-decoration: underline;
}

.publish {
  font-size: 1.5rem;
  padding: 1rem;
}

.notes .add-new-note {
  position: fixed;
  bottom: 15px;
  left: 20px;
}
.notes ul {
  list-style-type: none;
}
.notes ul li {
  margin-bottom: 1rem;
}
.notes .note {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: #000000;
  gap: 0.5rem;
  padding: 0.5rem;
  height: max-content;
}
.notes .note .note-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}
.notes .note .note-info .text-note, .notes .note .note-info .title-note {
  border: none;
  width: 100%;
}
.notes .note .note-info .text-note:focus, .notes .note .note-info .title-note:focus {
  outline: none;
}
.notes .note .note-info .text-note {
  height: 6.25rem;
}
.notes .note .note-info .title-note {
  font-size: 1.25rem;
  font-weight: 700;
  height: 2rem;
}
.notes .note .note-info .publish-date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
}
.notes .note .note-info .text-note {
  font-size: 1rem;
}
.notes .note .note-info .update, .notes .note .note-info .edit {
  width: 30%;
  margin-left: auto;
}
.notes .note .note-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.notes .note .note-footer .user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
}

.new-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 90%;
  gap: 2rem;
}
.new-note .title, .new-note .note-textarea {
  font-size: 1rem;
  padding: 1rem;
}
.new-note .title:focus, .new-note .note-textarea:focus {
  outline: none;
}
.new-note .title:focus::placeholder, .new-note .note-textarea:focus::placeholder {
  color: transparent;
}
.new-note .title {
  height: 5rem;
}
.new-note .note-textarea {
  flex-grow: 1;
  max-height: 30rem;
}
.new-note .username-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}
.new-note .username-input p {
  color: #ffffff;
  letter-spacing: 0.35rem;
  font-size: 1rem;
}
.new-note .username-input input {
  height: 5rem;
  font-size: 1.25rem;
  padding: 0 1rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.new-note .username-input input:focus {
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
